.project
.settings/
AudioPlayer-addon/.classpath
AudioPlayer-addon/.project
AudioPlayer-addon/.settings/
AudioPlayer-demo/.classpath
AudioPlayer-demo/.project
AudioPlayer-demo/.settings/

AudioPlayer-demo/src/main/webapp/VAADIN/themes/demo/styles.scss.cache

*.cache

AudioPlayer-demo/src/main/resources/com/vaadin/addon/audio/wav/avoke-audio-sample.wav
